{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
      "@typescript-eslint"
    ],
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended",
      "mocha",
      "prettier"
    ],
    "rules": {
        // TODO: If I had more time, I'd like to fine-tune/add to the rules.
        "no-console": ["error", {"allow": ["warn", "error"]}]
    }
  }